/* Base page and tab styles */
.row:first-child{
  margin-top: 10px;
}
.btn-light.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.tab-pane.active {
  opacity: 1;
}
.tab-pane {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

#qte p, #qte label {
  margin-top: auto;
  margin-bottom: auto;
}

/* Question part input styles */
#qte_input_clear,
#multi_input_clear {
  display: none;
  cursor: pointer;
}

#qte_input:not(:placeholder-shown) + #qte_input_clear,
#multi_input:not(:placeholder-shown) + #multi_input_clear {
  display: block;
}

/* Answer showing table and highlight answer */
table tr td:first-child {
  width: 8em;
  min-width: 8em;
  max-width: 8em;
  word-break: break-all;
}
#qte_result span, #qte_cnt, #multi_cnt {
  color: red;
  font-weight: 700;
}
/* ref: https://naifix.com/strong-css-sample/ */
.cAns{
  color: #111;
}
.cAns0{
  background: linear-gradient(transparent 60%, rgba(255, 52, 51, .3) 60%);
}
.cAns1{
  background: linear-gradient(transparent 60%, rgba(255, 255, 0, .5) 60%);
}
.cAns2{
  background: linear-gradient(transparent 60%, rgba(60, 255, 60, .5) 60%);
}
.cAns3{
  background: linear-gradient(transparent 60%, rgba(0, 214, 255, .5) 60%);
}
.cAns4{
  background: linear-gradient(transparent 60%, rgba(237, 21, 254, .5) 60%);
}

