.row:first-child{
  margin-top: 10px;
}
span{
  color: red;
  font-weight: 700;
}
.btn-light.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.tab-pane.active {
  opacity: 1;
}
.tab-pane {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
::-ms-clear {
  display: none;
}
.input-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
.input-clear > span{
  color: #000;
}
.input-clear.hidden {
  display: none !important;
}
